extends layout

block title
  title TyDiQA - the Typologically Different Question Answering Dataset

block description
  meta(name='description', content='TydiQA')

block extralinks
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(async defer src="https://buttons.github.io/buttons.js")

block extrascripts

mixin squad_2_model_display(group, is_test)
  table.table.performanceTable
    tr
      if is_test
        th Rank
      th Model
      th EM
      th F1
    - var human_em = 86.831
    - var human_f1 = 89.452
    - var largest_em = Math.max.apply(null, group.map(function (model) { return model.em; }))
    - var largest_f1 = Math.max.apply(null, group.map(function (model) { return model.f1; }))
      tr.human-row
        td
        td
          | Human Performance
          p.institution Stanford University
          a(href="http://arxiv.org/abs/1606.05250") (Rajpurkar & Jia et al. '18)
        td #{human_em}
        td #{human_f1}
    each model in group
      tr
        if is_test
          td 
            p #{model.rank}
            span.date.label.label-default #{moment.unix(model.date).format('MMM DD, YYYY')}
        td(style="word-break:break-word;")
          | #{model.model_name}
          p.institution #{model.institution}
          if model.link
            a.link(href=model.link) #{model.link}
        td
          if model.em == largest_em
            b #{model.em.toPrecision(5)}
          else
            | #{model.em.toPrecision(5)}
        td
          if model.f1 == largest_f1
            b #{model.f1.toPrecision(5)}
          else
            | #{model.f1.toPrecision(5)}

mixin squad_1_model_display(group, is_test)
  table.table.performanceTable
    tr
      if is_test
        th Rank
      th Model
      th EM
      th F1
    - var human_em = 82.304
    - var human_f1 = 91.221
    - var is_human_performance_printed = false
    - var largest_em = Math.max.apply(null, group.map(function (model) { return model.em; }))
    - var largest_f1 = Math.max.apply(null, group.map(function (model) { return model.f1; }))
    each model in group
      if !is_human_performance_printed
        - is_human_performance_printed = true
        tr.human-row
          td
          td
            | Human Performance
            p.institution Stanford University
            a(href="http://arxiv.org/abs/1606.05250") (Rajpurkar et al. '16)
          td #{human_em}
          td #{human_f1}
      tr
        if is_test
          td 
            p #{model.rank}
            span.date.label.label-default #{moment.unix(model.date).format('MMM DD, YYYY')}
        td(style="word-break:break-word;")
          | #{model.model_name}
          p.institution #{model.institution}
          if model.link
            a.link(href=model.link) #{model.link}
        td
          if model.em == largest_em
            b #{model.em.toPrecision(5)}
          else
            | #{model.em.toPrecision(5)}
        td
          if model.f1 == largest_f1
            b #{model.f1.toPrecision(5)}
          else
            | #{model.f1.toPrecision(5)}
block content
  .cover#contentCover
    .container
      .row
          .infoCard
            .infoBody
              ul.list-unstyled
                li
                  a(href="/explore/1.0/dev/all")
                    | All
                li
                  a(href="/explore/1.0/dev/english")
                    | English
                li
                  a(href="/explore/1.0/dev/telugu")
                    | Telugu
                li
                  a(href="/explore/1.0/dev/bengali")
                    | Bengali
                li
                  a(href="/explore/1.0/dev/swahili")
                    | Swahili
                li
                  a(href="/explore/1.0/dev/arabic")
                    | Arabic
                li
                  a(href="/explore/1.0/dev/indonesian")
                    | Indonesian
                li
                  a(href="/explore/1.0/dev/russian")
                    | Russian
                li
                  a(href="/explore/1.0/dev/finnish")
                    | Finnish
                li
                  a(href="/explore/1.0/dev/korean")
                    | Korean